body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.template-content-block {
  padding: 1rem 0;
  text-align: center;
}

.template-content-block-sub {
  padding: 1rem 0;
}

.search-main {
  display: inline-block;
}

.main-button {
  margin: 0.5em;
  padding-top: 0.75em;
}

.main-button-label {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.add-to-cart-button {
  border-radius: 25px;
  padding: 0.375rem 0.75rem 0.375rem 0.375rem;
}

.add-to-cart-text {
  margin-left: 0.5em;
}

.cart-fab {
  padding: 1.25em;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.text-color-home {
  color: #ffc107 !important; /* bootstrap .text-warning */
}

.button-color-home {
  color: #212529;
  background-color: #ffc107; /* bootstrap .btn-warning */
  border-color: #ffc107; /* bootstrap .btn-warning */
}

.text-color-grocery {
  color: #28a745 !important; /* bootstrap .text-success */
}

.button-color-grocery {
  color: #fff;
  background-color: #28a745; /* bootstrap .btn-success */
  border-color: #28a745; /* bootstrap .btn-success */
}
